<configuration xmlns="http://logging.apache.org/log4php/">
  <appender class="LoggerAppenderFile" name="myAppender">
    <param name="file" value="/Users/eitan/GitHub/frontend/wallet/app.log"/>
    <layout class="LoggerLayoutPattern">
      <param name="conversionPattern" value="%date [%level] [%logger] %message%newline"/>
    </layout>
  </appender>
  <root>
    <level value="DEBUG"/>
    <appender_ref ref="myAppender"/>
  </root>
</configuration>
